/* -- Genesis Sample Font Family
--------------------------------------------- */
$gs-font-family: "Source Sans Pro", sans-serif;

/* -- Custom Font Family
--------------------------------------------- */

$c-font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif; /* stylelint-disable-line value-keyword-case */

/* -- Genesis Sample Color Palette
--------------------------------------------- */
$gs-accent: #0073e5;
$gs-dark-grey_01: #333;
$gs-dark-grey-02: #666;
$gs-dark-grey-03: #777;
$gs-dark-grey-04: #999;
$gs-light-grey-01: #ccc;
$gs-light-grey-02: #ddd;
$gs-light-grey-03: #eee;
$gs-light-grey-04: #f5f5f5;
$gs-white: #fff;
$gs-transparent: transparent;

/* -- Custom Color Palette
--------------------------------------------- */

$ccp-primary: #0467c6;
$ccp-secondary: #004990;
$ccp-primary-alt: #ff0014;
$ccp-secondary-alt: #b3000e;
$ccp-black: #000;
$ccp-grey-01: #333;
$ccp-grey-02: #666;
$ccp-grey-03: #eee;
$ccp-grey-04: #f5f5f5;
$ccp-white: #fff;

/* -- Custom Font Sizes
--------------------------------------------- */

$c-font-size-xxs: 14px;
$c-font-size-xs: 15px;
$c-font-size-s: 16px;
$c-font-size-n: 18px;
$c-font-size-m: 20px;
$c-font-size-l: 24px;
$c-font-size-xl: 27px;
$c-font-size-xxl: 30px;



/* CSS Variables
---------------------------------------------------------------------------- */

:root {

	/* -- Genesis Sample Font Family
	--------------------------------------------- */
	--gs-font-family: "Source Sans Pro", sans-serif;

	/* -- Genesis Sample Color Palette
	--------------------------------------------- */

	--gs-accent: #0073e5;
	--gs-grey-01: #333;
	--gs-grey-02: #666;
	--gs-grey-03: #777;
	--gs-grey-04: #999;
	--gs-grey-05: #ccc;
	--gs-grey-06: #ddd;
	--gs-grey-07: #eee;
	--gs-grey-08: #f5f5f5;
	--gs-white: #fff;
	--gs-transparent: transparent;

	/* -- Custom Font Family
	--------------------------------------------- */

	--c-font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif; /* stylelint-disable-line value-keyword-case */

	/* -- Custom Color Palette
	--------------------------------------------- */

	--ccp-primary: #0467c6;
	--ccp-secondary: #004990;
	--ccp-primary-alt: #ff0014;
	--ccp-secondary-alt: #b3000e;
	--ccp-black: #000;
	--ccp-grey-01: #333;
	--ccp-grey-02: #666;
	--ccp-grey-03: #eee;
	--ccp-grey-04: #f5f5f5;
	--ccp-white: #fff;

	/* -- Custom Font Sizes
	--------------------------------------------- */

	--c-font-size-xxs: 14px;
	--c-font-size-xs: 15px;
	--c-font-size-s: 16px;
	--c-font-size-n: 18px;
	--c-font-size-m: 20px;
	--c-font-size-l: 24px;
	--c-font-size-xl: 27px;
	--c-font-size-xxl: 30px;

}

@media (prefers-color-scheme: dark) {

	:root {

		/* -- Genesis Sample Color Palette
		--------------------------------------------- */

		--gs-accent: #03a577;
		--gs-grey-01: #f5f5f5;
		--gs-grey-02: #eee;
		--gs-grey-03: #ddd;
		--gs-grey-04: #ccc;
		--gs-grey-05: #999;
		--gs-grey-06: #777;
		--gs-grey-07: #555;
		--gs-grey-08: #333;
		--gs-white: #27282c;
		--gs-transparent: transparent;

		/* -- Custom Color Palette
		--------------------------------------------- */

		--ccp-primary: #03a577;
		--ccp-secondary: #02684c;
		--ccp-primary-alt: #ff0014;
		--ccp-secondary-alt: #b3000e;
		--ccp-black: #000;
		--ccp-dark-gray-one: #333;
		--ccp-dark-gray-two: #777;
		--ccp-light-gray-two: #eee;
		--ccp-light-gray-one: #f5f5f5;
		--ccp-white: #fff;
		--ccp-transparent: transparent;

	}

}
