/* -- Custom Styles
--------------------------------------------- */

/* -- Font overrides
--------------------------------------------- */

.ab-block-cta .ab-button,
.wp-block-button .wp-block-button__link,
.wp-block-image figcaption,
.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-quote .wp-block-quote__citation,
.wp-block-pullquote p,
.wp-block-quote p,
.editor-post-title__block .editor-post-title__input,
body {
	font-family: var(--font-family-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-bold);
}

/* -- Button Variations
--------------------------------------------- */

.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover {
	background-color: var(--ccp-secondary);
}

.wp-block-button.is-style-outline .wp-block-button__link {
	border-radius: 5px;
}

.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover {
	background-color: var(--ccp-secondary);
	border: 2px solid var(--ccp-secondary);
}

.wp-block-button .wp-block-button__link {
	padding: 12px 30px;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	padding: 10px 28px;
}

/* -- Custom Button Styles added for Dark backgrounds
--------------------------------------------- */

.wp-block-button.is-style-fill-alt .wp-block-button__link {
	background-color: var(--ccp-primary-alt);
}

.wp-block-button.is-style-fill-alt .wp-block-button__link:focus,
.wp-block-button.is-style-fill-alt .wp-block-button__link:hover {
	background-color: var(--ccp-secondary-alt);
}

.wp-block-button.is-style-outline-alt .wp-block-button__link {
	color: var(--ccp-primary-alt);
	background-color: var(--ccp-transparent);
	border: 2px solid currentColor;
	border-radius: 5px;
	padding: 10px 28px;
}

.wp-block-button.is-style-outline-alt .wp-block-button__link:focus,
.wp-block-button.is-style-outline-alt .wp-block-button__link:hover {
	background-color: var(--ccp-secondary-alt);
	border: 2px solid var(--ccp-secondary-alt);
	color: var(--ccp-white);
}

/* -- Custom Styles for Group Block
--------------------------------------------- */

h1.is-style-alt {
	font-size: 75px;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
}

/* -- Gravity Form button
--------------------------------------------- */

.gform_wrapper .gform_footer input.button {
	background-color: var(--ccp-primary);
	color: var(--ccp-white) !important;
	border: 0;
	padding: 12px 30px;
	height: auto;
	border-radius: 5px;
}

.gform_wrapper .gform_footer input.button:hover {
	background-color: var(--ccp-secondary);
}

/* -- Start adding your own CSS
--------------------------------------------- */

/* -- Custom Styles
--------------------------------------------- */

.editor-block-list__layout .editor-block-list__block:not([data-type="core/columns"]):not([data-type="core/column"]):not([data-type="coblocks/accordion"]):not([data-type="coblocks/accordion-item"]):not([data-type="coblocks/row"]):not([data-type="coblocks/column"]):not([data-type="coblocks/buttons"]):not([data-type="atomic-blocks/ab-container"]):not([data-type="atomic-blocks/ab-pricing-table"]) > .editor-block-list__block-edit::before {

	/*border: 1px solid rgba(66, 88, 99, 0.2);*/
}

.editor-post-title__block::before {
	background: var(--ccp-primary);
	content: "\020";
	display: block;
	height: 4px;
	width: 50px;
	margin: 0 0 0 14px;
	position: relative;
	top: 0.5em;
}

.wp-block-code .editor-plain-text {
	font-family: monospace;
	font-size: 16px;
}

.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover {
	box-shadow: none;
}
