/* Site Footer
---------------------------------------------------------------------------- */

.site-footer {
	background-color: var(--gs-white, #fff);
	border-top: 1px solid var(--gs-grey-07, #eee);
	font-size: 15px;
	line-height: 1.5;
	padding: 30px;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}
