/* -- Customizer CSS
--------------------------------------------- */

#sub-accordion-section-genesis_sample_gutenberg_options .customize-control-description {
    margin-bottom: 0px;
	line-height: 1.5;
	font-style: normal;
}

#sub-accordion-section-genesis_sample_gutenberg_options code,
#sub-accordion-section-genesis_sample_font_options code {
	font-size: 12px;
}