/* CSS Variables
---------------------------------------------------------------------------- */

:root {

	/* -- Custom Color Palette
	--------------------------------------------- */

	--primary: #0467c6;
	--secondary: #004990;
	--primary-alt: #ff0014;
	--secondary-alt: #b3000e;
	--black: #000;
	--dark-gray-one: #333;
	--dark-gray-two: #777;
	--dark-gray-three: #999;
	--light-gray-four: #ccc;
	--light-gray-three: #ddd;
	--light-gray-two: #eee;
	--light-gray-one: #f5f5f5;
	--white: #fff;
	--transparent: transparent;
	--shadow-one: rgba(0, 0, 0, 0.6);
	--shadow-two: rgba(0, 0, 0, 0.05);

	/* -- Custom Fonts
	--------------------------------------------- */

	--font-size-xxs: 14px;
	--font-size-xs: 15px;
	--font-size-s: 16px;
	--font-size-n: 18px;
	--font-size-m: 20px;
	--font-size-l: 24px;
	--font-size-xl: 27px;
	--font-size-xxl: 30px;
	--font-size-1em: 1em;

	--font-family-normal: 'Inter var', 'Open Sans', 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--font-family-bold: 'Inter var', 'Open Sans', 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

	/* -- Genesis Sample Fonts
	--------------------------------------------- */

	--font-family: "Source Sans Pro", sans-serif;

	/* -- Genesis Sample Background Colors
	--------------------------------------------- */

	--background-color: #fff;
	--mark-background-color: #ddd;
	--input-background-color: #fff;
	--select-background-color: #fff;
	--textarea-background-color: #fff;
	--button-background-color: #333;
	--button-hover-background-color: #0073e5;
	--button-focus-background-color: #0073e5;
	--button-disabled-background-color: #eee;
	--screen-reader-text-focus-background-color: #fff;
	--search-input-focus-background-color: #fff;
	--enews-background-color: #f5f5f5;
	--faq-background-color: transparent;
	--faq-focus-background-color: transparent;
	--faq-hover-background-color: transparent;
	--site-header-background-color: #fff;
	--nav-menu-sub-link-background-color: #fff;
	--menu-toggle-background-color: transparent;
	--menu-toggle-focus-background-color: transparent;
	--menu-toggle-hover-background-color: transparent;
	--code-background-color: #f5f5f5;
	--sticky-background-color: #f5f5f5;
	--pagination-link-background-color: #f5f5f5;
	--pagination-link-hover-background-color: #333;
	--footer-widgets-background-color: #fff;
	--site-footer-background-color: #fff;
	--nav-menu-highlight-link-background-color: #333;
	--nav-menu-highlight-link-focus-background-color: #0073e5;
	--nav-menu-highlight-link-hover-background-color: #0073e5;
	--author-box-background-color: #f5f5f5;
	--star-background-color: transparent !important;

	/* -- Genesis Sample Text Colors
	--------------------------------------------- */

	--text-color: #333;
	--mark-color: #333;
	--input-color: #333;
	--select-color: #333;
	--textarea-color: #333;
	--input-placeholder-color: #333;
	--button-text-color: #fff;
	--button-hover-text-color: #fff;
	--button-focus-text-color: #fff;
	--entry-content-button-focus-text-color: #fff;
	--entry-content-button-hover-text-color: #fff;
	--button-disabled-text-color: #777;
	--screen-reader-text-focus-color: #333;
	--search-input-focus-text-color: #333;
	--faq-text-color: #333;
	--faq-focus-text-color: #0073e5;
	--faq-hover-text-color: #0073e5;
	--focus-text-color: #333;
	--menu-toggle-color: #333;
	--menu-toggle-focus-color: #0073e5;
	--menu-toggle-hover-color: #0073e5;
	--star-color: #333 !important;


	/* -- Genesis Sample Link Colors
	--------------------------------------------- */

	--link-color: #0073e5;
	--link-focus-color: #333;
	--link-hover-color: #333;
	--entry-title-link-color: #333;
	--widget-title-link-color: #333;
	--entry-title-link-focus-color: #0073e5;
	--entry-title-link-hover-color: #0073e5;
	--site-title-link-color: #333;
	--site-title-link-focus-color: #333;
	--site-title-link-hover-color: #333;
	--nav-menu-link-color: #333;
	--nav-menu-link-focus-color: #0073e5;
	--nav-menu-link-hover-color: #0073e5;
	--nav-menu-current-link-color: #0073e5;
	--nav-menu-current-link-focus-color: #0073e5;
	--nav-menu-current-link-hover-color: #0073e5;
	--pagination-link-color: #333;
	--pagination-link-hover-color: #fff;
	--nav-menu-highlight-link-color: #fff;

	/* -- Genesis Sample Box Shadow Colors
	--------------------------------------------- */

	--screen-reader-text-focus-box-shadow-color: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	--search-input-focus-box-shadow-color: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	--after-entry-box-shadow-color: 0 0 20px rgba(0, 0, 0, 0.05);
	--site-header-box-shadow-color: 0 0 20px rgba(0, 0, 0, 0.05);

	/* -- Genesis Sample Border Colors
	--------------------------------------------- */

	--hr-border-color: #eee;
	--gallery-img-border-color: #eee;
	--gallery-img-hover-border-color: #999;
	--gallery-img-focus-border-color: #999;
	--input-border-color: #ddd;
	--select-border-color: #ddd;
	--textarea-border-color: #ddd;
	--input-focus-border-color: #999;
	--textarea-focus-border-color: #999;
	--tbody-border-color: #eee;
	--td-border-color: #eee;
	--breadcrumb-border-color: #eee;
	--feat-content-entry-border-color: #eee;
	--faq-border-color: #eee;
	--focus-outline-color: #ccc;
	--entry-footer-meta-border-color: #eee;
	--footer-widgets-border-color: #eee;
	--site-footer-border-color: #eee;
	--nav-menu-sub-border-color: #eee;
	--nav-menu-sub-link-border-color: #eee;
	--blockquote-border-color: #999;
	--pre-border-color: #999;

}

@media (prefers-color-scheme: dark) {

	:root {

		/* -- Custom Color Palette for Front End & Gutenberg
		--------------------------------------------- */

		--ccp-primary: #03a577;
		--ccp-accent: #02684c;
		--ccp-black: #000;
		--ccp-blackish: #2c2c2c;
		--ccp-grey: #6e6e6a;
		--ccp-greyish: #999;
		--ccp-white: #fff;
		--ccp-transparent: transparent;

		/* -- Background Colors
		--------------------------------------------- */

		--background-color: #121217;
		--mark-background-color: #ddd;
		--input-background-color: #fff;
		--select-background-color: #fff;
		--textarea-background-color: #fff;
		--button-background-color: #333;
		--button-hover-background-color: #0073e5;
		--button-focus-background-color: #0073e5;
		--button-disabled-background-color: #eee;
		--search-input-focus-background-color: #fff;
		--enews-background-color: #f5f5f5;
		--faq-background-color: transparent;
		--faq-focus-background-color: transparent;
		--faq-hover-background-color: transparent;
		--site-header-background-color: #121217;
		--nav-menu-sub-link-background-color: #fff;
		--menu-toggle-background-color: transparent;
		--menu-toggle-focus-background-color: transparent;
		--menu-toggle-hover-background-color: transparent;
		--code-background-color: #f5f5f5;
		--sticky-background-color: #f5f5f5;
		--pagination-link-background-color: #f5f5f5;
		--pagination-link-hover-background-color: #333;
		--footer-widgets-background-color: #333;
		--site-footer-background-color: #121217;
		--nav-menu-highlight-link-background-color: #333;
		--nav-menu-highlight-link-focus-background-color: #0073e5;
		--nav-menu-highlight-link-hover-background-color: #0073e5;
		--author-box-background-color: #f5f5f5;
		--star-background-color: transparent;

		/* -- Text Colors
		--------------------------------------------- */

		--text-color: #707078;
		--mark-color: #333;
		--input-color: #333;
		--select-color: #333;
		--textarea-color: #333;
		--placeholder-color: #333;
		--button-text-color: #fff;
		--button-hover-text-color: #fff;
		--button-focus-text-color: #fff;
		--entry-content-button-focus-text-color: #fff;
		--entry-content-button-hover-text-color: #fff;
		--button-disabled-text-color: #777;
		--search-input-focus-text-color: #333;
		--faq-text-color: #333;
		--faq-focus-text-color: #0073e5;
		--faq-hover-text-color: #0073e5;
		--focus-text-color: #333;

		--headings-color: #fff;

		/* -- Link Colors
		--------------------------------------------- */

		--link-color: #0073e5;
		--link-focus-color: #333;
		--link-hover-color: #333;
		--entry-title-link-color: #333;
		--widget-title-link-color: #333;
		--entry-title-link-focus-color: #0073e5;
		--entry-title-link-hover-color: #0073e5;
		--site-title-link-color: #fff;
		--site-title-link-focus-color: #ddd;
		--site-title-link-hover-color: #ddd;
		--nav-menu-link-color: #fff;
		--nav-menu-link-focus-color: #0073e5;
		--nav-menu-link-hover-color: #0073e5;
		--nav-menu-current-link-focus-color: #0073e5;
		--nav-menu-current-link-hover-color: #0073e5;
		--pagination-link-color: #333;
		--pagination-link-hover-color: #fff;
		--nav-menu-highlight-link-color: #fff;

		/* -- Box Shadow Colors
		--------------------------------------------- */

		--search-input-focus-box-shadow-color: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		--after-entry-box-shadow-color: 0 0 20px rgba(0, 0, 0, 0.05);
		--site-header-box-shadow-color: 0 0 20px rgba(0, 0, 0, 0.05);

		/* -- Misc Colors
		--------------------------------------------- */

		--menu-toggle-color: #333;
		--menu-toggle-focus-color: #0073e5;
		--menu-toggle-hover-color: #0073e5;
		--star-color: #333;

		/* -- Border Colors
		--------------------------------------------- */

		--border-color: #eee;
		--hr-border-color: #eee;
		--gallery-img-border-color: #eee;
		--gallery-img-hover-border-color: #999;
		--gallery-img-focus-border-color: #999;
		--input-border-color: #ddd;
		--select-border-color: #ddd;
		--textarea-border-color: #ddd;
		--input-focus-border-color: #999;
		--textarea-focus-border-color: #999;
		--tbody-border-color: #eee;
		--td-border-color: #eee;
		--breadcrumb-border-color: #eee;
		--feat-content-entry-border-color: #eee;
		--faq-border-color: #eee;
		--focus-outline-color: #ccc;
		--entry-footer-meta-border-color: #eee;
		--footer-widgets-border-color: #eee;
		--site-footer-border-color: #eee;
		--nav-menu-sub-border-color: #eee;
		--nav-menu-sub-link-border-color: #eee;
		--blockquote-border-color: #999;
		--pre-border-color: #999;

		/* -- Genesis Color Palette
		--------------------------------------------- */

		--gcp-one: #0073e5;
		--gcp-two: #333;
		--gcp-three: #777;
		--gcp-four: #999;
		--gcp-five: #fff;
		--gcp-six: #f5f5f5;
		--gcp-seven: #eee;
		--gcp-eight: #ddd;
		--gcp-nine: transparent;
		--gcp-shadow-one: rgba(0, 0, 0, 0.6);
		--gcp-shadow-two: rgba(0, 0, 0, 0.05);

	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--headings-color);
	}

}
