/* CSS Variables
---------------------------------------------------------------------------- */

:root {

	/* -- Genesis Sample Font Sizes
	--------------------------------------------- */

	--font-size-xxs: 14px;
	--font-size-xs: 15px;
	--font-size-s: 16px;
	--font-size-n: 18px;
	--font-size-m: 20px;
	--font-size-xm: 21px;
	--font-size-l: 24px;
	--font-size-xl: 27px;
	--font-size-xxl: 30px;
	--font-size-xxxl: 32px;
	--font-size-1em: 1em;

	/* -- Genesis Sample Fonts
	--------------------------------------------- */

	--font-family: "Source Sans Pro", sans-serif;

	/* -- Genesis Sample Color Palette
	--------------------------------------------- */

	--gcp-one: #0073e5;
	--gcp-two: #333;
	--gcp-three: #777;
	--gcp-four: #999;
	--gcp-five: #fff;
	--gcp-six: #f5f5f5;
	--gcp-seven: #eee;
	--gcp-eight: #ddd;
	--gcp-nine: #ccc;
	--gcp-ten: transparent;
	--gcp-shadow-one: rgba(0, 0, 0, 0.6);
	--gcp-shadow-two: rgba(0, 0, 0, 0.05);

	/* -- Genesis Sample Background Colors
	--------------------------------------------- */

	--background-color: var(--gcp-five, #fff);
	--mark-background-color: var(--gcp-eight, #ddd);
	--input-background-color: var(--gcp-five, #fff);
	--select-background-color: var(--gcp-five, #fff);
	--textarea-background-color: var(--gcp-five, #fff);
	--button-background-color: var(--gcp-two, #333);
	--button-hover-background-color: var(--gcp-one, #0073e5);
	--button-focus-background-color: var(--gcp-one, #0073e5);
	--button-disabled-background-color: var(--gcp-seven, #eee);
	--screen-reader-text-focus-background-color: var(--gcp-five, #fff);
	--search-input-focus-background-color: var(--gcp-five, #fff);
	--enews-background-color: var(--gcp-six, #f5f5f5);
	--faq-background-color: var(--gcp-ten, transparent);
	--faq-focus-background-color: var(--gcp-ten, transparent);
	--faq-hover-background-color: var(--gcp-ten, transparent);
	--site-header-background-color: var(--gcp-five, #fff);
	--nav-menu-sub-link-background-color: var(--gcp-five, #fff);
	--menu-toggle-background-color: var(--gcp-ten, transparent);
	--menu-toggle-focus-background-color: var(--gcp-ten, transparent);
	--menu-toggle-hover-background-color: var(--gcp-ten, transparent);
	--code-background-color: var(--gcp-six, #f5f5f5);
	--sticky-background-color: var(--gcp-six, #f5f5f5);
	--pagination-link-background-color: var(--gcp-six, #f5f5f5);
	--pagination-link-hover-background-color: var(--gcp-two, #333);
	--footer-widgets-background-color: var(--gcp-five, #fff);
	--site-footer-background-color: var(--gcp-five, #fff);
	--nav-menu-highlight-link-background-color: var(--gcp-two, #333);
	--nav-menu-highlight-link-focus-background-color: var(--gcp-one, #0073e5);
	--nav-menu-highlight-link-hover-background-color: var(--gcp-one, #0073e5);
	--author-box-background-color: var(--gcp-six, #f5f5f5);
	--star-background-color: var(--gcp-ten, transparent) !important;

	/* -- Genesis Sample Text Colors
	--------------------------------------------- */

	--text-color: var(--gcp-two, #333);
	--mark-color: var(--gcp-two, #333);
	--input-color: var(--gcp-two, #333);
	--select-color: var(--gcp-two, #333);
	--textarea-color: var(--gcp-two, #333);
	--input-placeholder-color: var(--gcp-two, #333);
	--button-text-color: var(--gcp-five, #fff);
	--button-hover-text-color: var(--gcp-five, #fff);
	--button-focus-text-color: var(--gcp-five, #fff);
	--entry-content-button-focus-text-color: var(--gcp-five, #fff);
	--entry-content-button-hover-text-color: var(--gcp-five, #fff);
	--button-disabled-text-color: var(--gcp-three, #777);
	--screen-reader-text-focus-color: var(--gcp-two, #333);
	--search-input-focus-text-color: var(--gcp-two, #333);
	--faq-text-color: var(--gcp-two, #333);
	--faq-focus-text-color: var(--gcp-one, #0073e5);
	--faq-hover-text-color: var(--gcp-one, #0073e5);
	--focus-text-color: var(--gcp-two, #333);
	--menu-toggle-color: var(--gcp-two, #333);
	--menu-toggle-focus-color: var(--gcp-one, #0073e5);
	--menu-toggle-hover-color: var(--gcp-one, #0073e5);
	--star-color: var(--gcp-two, #333) !important;

	/* -- Genesis Sample Link Colors
	--------------------------------------------- */

	--link-color: var(--gcp-one, #0073e5);
	--link-focus-color: var(--gcp-two, #333);
	--link-hover-color: var(--gcp-two, #333);
	--entry-title-link-color: var(--gcp-two, #333);
	--widget-title-link-color: var(--gcp-two, #333);
	--entry-title-link-focus-color: var(--gcp-one, #0073e5);
	--entry-title-link-hover-color: var(--gcp-one, #0073e5);
	--site-title-link-color: var(--gcp-two, #333);
	--site-title-link-focus-color: var(--gcp-two, #333);
	--site-title-link-hover-color: var(--gcp-two, #333);
	--nav-menu-link-color: var(--gcp-two, #333);
	--nav-menu-link-focus-color: var(--gcp-one, #0073e5);
	--nav-menu-link-hover-color: var(--gcp-one, #0073e5);
	--nav-menu-current-link-color: var(--gcp-one, #0073e5);
	--nav-menu-current-link-focus-color: var(--gcp-one, #0073e5);
	--nav-menu-current-link-hover-color: var(--gcp-one, #0073e5);
	--pagination-link-color: var(--gcp-two, #333);
	--pagination-link-hover-color: var(--gcp-five, #fff);
	--nav-menu-highlight-link-color: var(--gcp-five, #fff);

	/* -- Genesis Sample Box Shadow Colors
	--------------------------------------------- */

	--screen-reader-text-focus-box-shadow-color: var(--shadow-one, 0 0 2px 2px rgba(0, 0, 0, 0.6));
	--search-input-focus-box-shadow-color: var(--shadow-one, 0 0 2px 2px rgba(0, 0, 0, 0.6));
	--after-entry-box-shadow-color: var(--shadow-two, 0 0 20px rgba(0, 0, 0, 0.05));
	--site-header-box-shadow-color: var(--shadow-two, 0 0 20px rgba(0, 0, 0, 0.05));

	/* -- Genesis Sample Border Colors
	--------------------------------------------- */

	--hr-border-color: var(--gcp-seven, #eee);
	--gallery-img-border-color: var(--gcp-seven, #eee);
	--gallery-img-hover-border-color: var(--gcp-four, #999);
	--gallery-img-focus-border-color: var(--gcp-four, #999);
	--input-border-color: var(--gcp-eight, #ddd);
	--select-border-color: var(--gcp-eight, #ddd);
	--textarea-border-color: var(--gcp-eight, #ddd);
	--input-focus-border-color: var(--gcp-four, #999);
	--textarea-focus-border-color: var(--gcp-four, #999);
	--tbody-border-color: var(--gcp-seven, #eee);
	--td-border-color: var(--gcp-seven, #eee);
	--breadcrumb-border-color: var(--gcp-seven, #eee);
	--feat-content-entry-border-color: var(--gcp-seven, #eee);
	--faq-border-color: var(--gcp-seven, #eee);
	--focus-outline-color: var(--gcp-nine, #ccc);
	--entry-footer-meta-border-color: var(--gcp-seven, #eee);
	--footer-widgets-border-color: var(--gcp-seven, #eee);
	--site-footer-border-color: var(--gcp-seven, #eee);
	--nav-menu-sub-border-color: var(--gcp-seven, #eee);
	--nav-menu-sub-link-border-color: var(--gcp-seven, #eee);
	--blockquote-border-color: var(--gcp-four, #999);
	--pre-border-color: var(--gcp-four, #999);

	/* -- Custom Fonts
	--------------------------------------------- */

	--font-family-normal: 'Inter var', 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--font-family-bold: 'Inter var', 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

	/* -- Custom Color Palette
	--------------------------------------------- */

	--ccp-primary: #0467c6;
	--ccp-secondary: #004990;
	--ccp-primary-alt: #ff0014;
	--ccp-secondary-alt: #b3000e;
	--ccp-black: #000;
	--ccp-dark-gray-one: #333;
	--ccp-dark-gray-two: #777;
	--ccp-dark-gray-three: #999;
	--ccp-light-gray-four: #ccc;
	--ccp-light-gray-three: #ddd;
	--ccp-light-gray-two: #eee;
	--ccp-light-gray-one: #f5f5f5;
	--ccp-white: #fff;
	--ccp-transparent: transparent;

}

@media (prefers-color-scheme: dark) {

	:root {

		/* -- Genesis Sample Color Palette
		--------------------------------------------- */

		--gcp-one: #03a577;/*0073e5*/
		--gcp-two: #fff;/*333*/
		--gcp-three: #ddd;/*777*/
		--gcp-four: #ccc;/*999*/
		--gcp-five: #27282c;/*#fff*/
		--gcp-six: #333;/*f5f5f5*/
		--gcp-seven: #555;/*eee*/
		--gcp-eight: #777;/*ddd*/
		--gcp-nine: #999;/*ccc*/
		--gcp-ten: transparent;/*transparent*/
		--gcp-shadow-one: rgba(0, 0, 0, 0.6);/*rgba(0, 0, 0, 0.6)*/
		--gcp-shadow-two: rgba(0, 0, 0, 0.05);/*rgba(0, 0, 0, 0.05)*/

		/* -- Genesis Sample Background Colors
		--------------------------------------------- */

		/* -- Genesis Sample Text Colors
		--------------------------------------------- */

		/* -- Genesis Sample Link Colors
		--------------------------------------------- */

		/* -- Genesis Sample Box Shadow Colors
		--------------------------------------------- */

		/* -- Genesis Sample Border Colors
		--------------------------------------------- */

		/* -- Custom Color Palette
		--------------------------------------------- */

		--ccp-primary: #03a577;
		--ccp-secondary: #02684c;
		--ccp-primary-alt: #ff0014;
		--ccp-secondary-alt: #b3000e;
		--ccp-black: #000;
		--ccp-dark-gray-one: #333;
		--ccp-dark-gray-two: #777;
		--ccp-dark-gray-three: #999;
		--ccp-light-gray-four: #ccc;
		--ccp-light-gray-three: #ddd;
		--ccp-light-gray-two: #eee;
		--ccp-light-gray-one: #f5f5f5;
		--ccp-white: #fff;
		--ccp-transparent: transparent;

	}

}