/* CSS Variables
---------------------------------------------------------------------------- */ 

:root { 

    /* -- Background Colors 
    --------------------------------------------- */
    --background-color: #fff;
	--mark-background-color: #ddd;
    --input-background-color: #fff;
    --select-background-color: #fff;
	--textarea-background-color: #fff;
	--button-background-color: #333;
	--button-hover-background-color: #0073e5;
	--button-focus-background-color: #0073e5;
	--button-disabled-background-color: #eee;
    --search-input-focus-background-color: #fff;
    --enews-background-color: #f5f5f5;
    --faq-background-color: transparent;
    --faq-focus-background-color: transparent;
	--faq-hover-background-color: transparent;
    --site-header-background-color: #fff;
	--nav-menu-sub-link-background-color: #fff;
	--menu-toggle-background-color: transparent;
	--menu-toggle-focus-background-color: transparent;
	--menu-toggle-hover-background-color: transparent;
    --code-background-color: #f5f5f5;
	--sticky-background-color: #f5f5f5;
	--pagination-link-background-color: #f5f5f5;
	--pagination-link-hover-background-color: #333;
    --footer-widgets-background-color: #fff;
	--site-footer-background-color: #fff;
	--nav-menu-highlight-link-background-color: #333;
	--nav-menu-highlight-link-focus-background-color: #0073e5;
	--nav-menu-highlight-link-hover-background-color: #0073e5;
	--author-box-background-color: #f5f5f5;
	--star-background-color: transparent;

    /* -- Text Colors 
    --------------------------------------------- */
	--text-color: #333;
	--mark-color: #333;
	--input-color: #333;
    --select-color: #333;
	--textarea-color: #333;
	--placeholder-color: #333;
	--button-text-color: #fff;
	--button-hover-text-color: #fff;
	--button-focus-text-color: #fff;
	--entry-content-button-focus-text-color: #fff;
	--entry-content-button-hover-text-color: #fff;
	--button-disabled-text-color: #777;
    --search-input-focus-text-color: #333;
    --faq-text-color: #333;
	--faq-focus-text-color: #0073e5;    
    --faq-hover-text-color: #0073e5;
	--focus-text-color: #333;
    
    /* -- Link Colors 
    --------------------------------------------- */
	--link-color: #0073e5;
	--link-focus-color: #333;
	--link-hover-color: #333;
	--entry-title-link-color: #333;
	--widget-title-link-color: #333;
	--entry-title-link-focus-color: #0073e5;
	--entry-title-link-hover-color: #0073e5;
    --site-title-link-color: #333;
    --site-title-link-focus-color: #333;
	--site-title-link-hover-color: #333;
	--nav-menu-link-color: #333;
	--nav-menu-link-focus-color: #0073e5;
	--nav-menu-link-hover-color: #0073e5;
	--nav-menu-current-link-focus-color: #0073e5;
	--nav-menu-current-link-hover-color: #0073e5;
	--pagination-link-color: #333;
	--pagination-link-hover-color: #fff;
	--nav-menu-highlight-link-color: #fff;
    
    /* -- Box Shadow Colors 
    --------------------------------------------- */
    --search-input-focus-box-shadow-color: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    --after-entry-box-shadow-color: 0 0 20px rgba(0, 0, 0, 0.05);
	--site-header-box-shadow-color: 0 0 20px rgba(0, 0, 0, 0.05);

    /* -- Misc Colors 
    --------------------------------------------- */
	--menu-toggle-color: #333;
	--menu-toggle-focus-color: #0073e5;
	--menu-toggle-hover-color: #0073e5;
	--star-color: #333;

    /* -- Border Colors 
    --------------------------------------------- */
	--border-color: #eee;
	--hr-border-color: #eee;
	--gallery-img-border-color: #eee;
    --gallery-img-hover-border-color: #999;
	--gallery-img-focus-border-color: #999;
	--input-border-color: #ddd;
    --select-border-color: #ddd;
	--textarea-border-color: #ddd;
    --input-focus-border-color: #999;
	--textarea-focus-border-color: #999;
    --tbody-border-color: #eee;
    --td-border-color: #eee;
	--breadcrumb-border-color: #eee;
	--feat-content-entry-border-color: #eee;
	--faq-border-color: #eee;
	--focus-outline-color: #ccc;
	--entry-footer-meta-border-color: #eee;
	--footer-widgets-border-color: #eee;
    --site-footer-border-color: #eee;
	--nav-menu-sub-border-color: #eee;
	--nav-menu-sub-link-border-color: #eee;
	--blockquote-border-color: #999;
    --pre-border-color: #999;

    /* -- Genesis Color Palette 
    --------------------------------------------- */
    --gcp-one: #0073e5;
    --gcp-two: #333;
    --gcp-three: #777;
    --gcp-four: #999;
    --gcp-five: #fff;
    --gcp-six: #f5f5f5;
    --gcp-seven: #eee;
    --gcp-eight: #ddd;
    --gcp-nine: transparent;
    --gcp-shadow-one: rgba(0, 0, 0, 0.6);
    --gcp-shadow-two: rgba(0, 0, 0, 0.05);
    
    /* -- Custom Color Palette for Front End & Gutenberg  
    --------------------------------------------- */
    --ccp-one: #ff0014;
    --ccp-two: #000000;
    --ccp-three: #2c2c2c;
    --ccp-four: #ffffff;
    --ccp-five: transparent;
			
}

@media (prefers-color-scheme:dark) {
	
	:root { 

        /* -- Background Colors 
        --------------------------------------------- */
        --background-color: #333;
        --mark-background-color: #ddd;
        --input-background-color: #fff;
        --select-background-color: #fff;
        --textarea-background-color: #fff;
        --button-background-color: #333;
        --button-hover-background-color: #0073e5;
        --button-focus-background-color: #0073e5;
        --button-disabled-background-color: #eee;
        --search-input-focus-background-color: #fff;
        --enews-background-color: #f5f5f5;
        --faq-background-color: transparent;
        --faq-focus-background-color: transparent;
        --faq-hover-background-color: transparent;
        --site-header-background-color: #333;
        --nav-menu-sub-link-background-color: #fff;
        --menu-toggle-background-color: transparent;
        --menu-toggle-focus-background-color: transparent;
        --menu-toggle-hover-background-color: transparent;
        --code-background-color: #f5f5f5;
        --sticky-background-color: #f5f5f5;
        --pagination-link-background-color: #f5f5f5;
        --pagination-link-hover-background-color: #333;
        --footer-widgets-background-color: #333;
        --site-footer-background-color: #333;
        --nav-menu-highlight-link-background-color: #333;
        --nav-menu-highlight-link-focus-background-color: #0073e5;
        --nav-menu-highlight-link-hover-background-color: #0073e5;
        --author-box-background-color: #f5f5f5;
        --star-background-color: transparent;

        /* -- Text Colors 
        --------------------------------------------- */
        --text-color: #fff;
        --mark-color: #333;
        --input-color: #333;
        --select-color: #333;
        --textarea-color: #333;
        --placeholder-color: #333;
        --button-text-color: #fff;
        --button-hover-text-color: #fff;
	    --button-focus-text-color: #fff;
        --entry-content-button-focus-text-color: #fff;
	    --entry-content-button-hover-text-color: #fff;
        --button-disabled-text-color: #777;
        --search-input-focus-text-color: #333;
        --faq-text-color: #333;
        --faq-focus-text-color: #0073e5;    
        --faq-hover-text-color: #0073e5;
        --focus-text-color: #333;
        
        /* -- Link Colors 
        --------------------------------------------- */

        --link-color: #0073e5;
        --link-focus-color: #333;
        --link-hover-color: #333;
        --entry-title-link-color: #333;
        --widget-title-link-color: #333;
        --entry-title-link-focus-color: #0073e5;
        --entry-title-link-hover-color: #0073e5;
        --site-title-link-color: #fff;
        --site-title-link-focus-color: #ddd;
        --site-title-link-hover-color: #ddd;
        --nav-menu-link-color: #fff;
        --nav-menu-link-focus-color: #0073e5;
        --nav-menu-link-hover-color: #0073e5;
        --nav-menu-current-link-focus-color: #0073e5;
        --nav-menu-current-link-hover-color: #0073e5;
        --pagination-link-color: #333;
        --pagination-link-hover-color: #fff;
        --nav-menu-highlight-link-color: #fff;
        
        /* -- Box Shadow Colors 
        --------------------------------------------- */
        --search-input-focus-box-shadow-color: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        --after-entry-box-shadow-color: 0 0 20px rgba(0, 0, 0, 0.05);
        --site-header-box-shadow-color: 0 0 20px rgba(0, 0, 0, 0.05);

        /* -- Misc Colors 
        --------------------------------------------- */
        --menu-toggle-color: #333;
        --menu-toggle-focus-color: #0073e5;
        --menu-toggle-hover-color: #0073e5;
        --star-color: #333;

        /* -- Border Colors 
        --------------------------------------------- */
        --border-color: #eee;
        --hr-border-color: #eee;
        --gallery-img-border-color: #eee;
        --gallery-img-hover-border-color: #999;
        --gallery-img-focus-border-color: #999;
        --input-border-color: #ddd;
        --select-border-color: #ddd;
        --textarea-border-color: #ddd;
        --input-focus-border-color: #999;
        --textarea-focus-border-color: #999;
        --tbody-border-color: #eee;
        --td-border-color: #eee;
        --breadcrumb-border-color: #eee;
        --feat-content-entry-border-color: #eee;
        --faq-border-color: #eee;
        --focus-outline-color: #ccc;
        --entry-footer-meta-border-color: #eee;
        --footer-widgets-border-color: #eee;
        --site-footer-border-color: #eee;
        --nav-menu-sub-border-color: #eee;
        --nav-menu-sub-link-border-color: #eee;
        --blockquote-border-color: #999;
        --pre-border-color: #999;

        /* -- Genesis Color Palette  
        --------------------------------------------- */
        --gcp-one: #0073e5;
        --gcp-two: #333;
        --gcp-three: #777;
        --gcp-four: #999;
        --gcp-five: #fff;
        --gcp-six: #f5f5f5;
        --gcp-seven: #eee;
        --gcp-eight: #ddd;
        --gcp-nine: transparent;
        --gcp-shadow-one: rgba(0, 0, 0, 0.6);
        --gcp-shadow-two: rgba(0, 0, 0, 0.05);
        
        /* -- Custom Color Palette for Front End & Gutenberg  
        --------------------------------------------- */
        --ccp-one: #ff0014;
        --ccp-two: #000000;
        --ccp-three: #2c2c2c;
        --ccp-four: #ffffff;
        --ccp-five: transparent;

    }

}


/* -- CSS Variables Overrides for genesis-sample style.css
---------------------------------------------------------------------------- */

/* Defaults
---------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
    background-color: var(--background-color, #fff);
    color: var(--text-color, #333);
}

a {
    color: var(--link-color, #0073e5);
}

a:focus,
a:hover {
    color: var(--link-hover-color, #333);
}

hr {
    border-top: 1px solid var(--hr-border-color, #eee);
}

mark {
    background: var(--mark-background-color, #ddd);
    color: var(--mark-color, #333);
}

/* Gallery
--------------------------------------------- */

.gallery img {
    border: 1px solid var(--gallery-img-border-color, #eee);
}

.gallery img:focus,
.gallery img:hover {
    border: 1px solid var(--gallery-img-hover-border-color, #999);
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
    background-color: var(--input-background-color, #fff);
    border: 1px solid var(--input-border-color,#ddd);
    color: var(--input-color, #333);
}

input:focus,
textarea:focus {
    border: 1px solid var(--input-focus-border-color, #999);
}

::-ms-input-placeholder {
    color: var(--placeholder-color, #333);
}

:-ms-input-placeholder {
    color: var(--placeholder-color, #333);
}

::placeholder {
    color: var(--placeholder-color, #333);
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form button[type="submit"],
.button {
	background-color: var(--button-background-color, #333);
    color: var(--button-text-color, #fff);
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.site-container div.wpforms-container-full .wpforms-form input[type="submit"]:focus,
.site-container div.wpforms-container-full .wpforms-form input[type="submit"]:hover,
.site-container div.wpforms-container-full .wpforms-form button[type="submit"]:focus,
.site-container div.wpforms-container-full .wpforms-form button[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: var(--button-focus-background-color, #0073e5);
    color: var(--button-focus-text-color, #fff);
}

.entry-content .button:focus,
.entry-content .button:hover {
    color: var(--entry-content-button-hover-text-color, #fff);
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: var(--button-disabled-background-color, #eee);
    color: var(--button-disabled-text-color, #777);
}

/* Tables
--------------------------------------------- */

tbody {
    border-bottom: 1px solid var(--tbody-border-color, #eee);
}

td {
    border-top: 1px solid var(--td-border-color, #eee);
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.widget_search input[type="submit"]:focus {
	background: var(--search-input-focus-background-color, #fff);
    box-shadow: 0 0 2px 2px var(--search-input-focus-box-shadow-color, rgba(0, 0, 0, 0.6));
    color: var(--search-input-focus-text-color, #333);
}

/* Common Classes
---------------------------------------------------------------------------- */

/* Genesis
--------------------------------------------- */

.after-entry {
    box-shadow: 0 0 20px var(--after-entry-box-shadow-color, rgba(0, 0, 0, 0.05));
}

.breadcrumb {
    border-bottom: 1px solid var(--breadcrumb-border-color, #eee);
}

/* Titles
--------------------------------------------- */

.entry-title a,
.sidebar .widget-title a {
    color: var(--entry-title-link-color, #333);
}

.entry-title a:focus,
.entry-title a:hover {
    color: var(--entry-title-link-hover-color, #0073e5);
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
    border-bottom: 1px solid var(--feat-content-entry-border-color, #eee);
}

/* Plugins
---------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.sidebar .enews {
    background-color: var(--enews-background-color, #f5f5f5);
}

/* Genesis Simple FAQ
--------------------------------------------- */

.gs-faq__question {
	background: var(--faq-background-color, transparent);
    border-bottom: 1px solid var(--faq-border-color, #eee);
    color: var(--faq-text-color, #333);
}

.gs-faq__question:focus,
.gs-faq__question:hover {
	background: var(--faq-hover-background-color, transparent);
    color: var(--faq-hover-text-color, #0073e5);
}

/* Skip Links
---------------------------------------------------------------------------- */

/* Display outline on focus */
:focus {
	color: var(--focus-text-color, #333);
    outline: var(--focus-outline-color, #ccc) solid 1px;
}

/* Site Header
---------------------------------------------------------------------------- */

.site-header {
	background-color: var(--site-header-background-color, #fff);
    box-shadow: var(--site-header-box-shadow-color, rgba(0, 0, 0, 0.05));
}

/* Title Area
--------------------------------------------- */

.site-title a,
.site-title a:focus,
.site-title a:hover {
    color: var(--site-title-link-color, #333);
}

/* Site Navigation
---------------------------------------------------------------------------- */

.genesis-nav-menu a {
    color: var(--nav-menu-link-color, #333);
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: var(--nav-menu-link-hover-color, #0073e5);
}

.genesis-nav-menu .sub-menu a {
    background-color: var(--nav-menu-sub-link-background-color, #fff);
}

/* Responsive Menu
--------------------------------------------- */

.menu-toggle,
.sub-menu-toggle {
	background-color: var(--menu-toggle-background-color, transparent);
    color: var(--menu-toggle-color, #333);
}

.menu-toggle:focus,
.menu-toggle:hover,
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	background-color: var(--menu-toggle-hover-background-color, transparent);
    color: var(--menu-toggle-hover-color, #0073e5);
}

/* Content Area
---------------------------------------------------------------------------- */

/* Entry Content
--------------------------------------------- */

.entry-content code {
    background-color: var(--code-background-color, #f5f5f5);
}

.content .sticky {
    background-color: var(--sticky-background-color, #f5f5f5);
}

/* Entry Meta
--------------------------------------------- */

.entry-footer .entry-meta {
    border-top: 1px solid var(--entry-footer-meta-border-color, #eee);
	padding-top: 20px;
}

/* Pagination
--------------------------------------------- */

.archive-pagination li a {
	background-color: var(--pagination-link-background-color, #f5f5f5);
    color: var(--pagination-link-color, #333);
}

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: var(--pagination-link-hover-background-color, #333);
    color: var(--pagination-link-hover-color, #fff);
}

/* Footer Widgets
---------------------------------------------------------------------------- */

.footer-widgets {
	border-top: 1px solid var(--footer-widgets-border-color, #eee);
    background-color: var(--footer-widgets-background-color, #fff);
}

/* Site Footer
---------------------------------------------------------------------------- */

.site-footer {
	background-color: var(--site-footer-background-color, #fff);
    border-top: 1px solid var(--site-footer-border-color, #eee);
}

/* Media Queries
---------------------------------------------------------------------------- */

@media only screen and (min-width: 960px) {

	/* Genesis Menu
	--------------------------------------------- */

	.genesis-nav-menu > .menu-highlight > a {
		background-color: var(--nav-menu-highlight-link-background-color, #333);
        color: var(--nav-menu-highlight-link-color, #fff);
	}

	.genesis-nav-menu > .menu-highlight > a:focus,
	.genesis-nav-menu > .menu-highlight > a:hover {
        background-color: var(--nav-menu-highlight-link-hover-background-color, #0073e5);
	}

	.genesis-nav-menu .sub-menu {
        border-top: 1px solid var(--nav-menu-sub-border-color, #eee);
	}

	.genesis-nav-menu .sub-menu a {
        border: 1px solid var(--nav-menu-sub-link-border-color, #eee);
	}

	/* Author Box
	--------------------------------------------- */

	.author-box {
        background-color: var(--author-box-background-color, #f5f5f5);
	}

}

/* Print Styles
---------------------------------------------------------------------------- */

@media print {

	*,
	*::before,
	*::after {
		background: var(--star-background-color, transparent) !important;
        color: var(--star-color, #333) !important;
	}

	blockquote,
	pre {
        border: 1px solid var(--blockquote-border-color, #999);
	}

}